.contents 
  .contents__left
    .contents__left__user-name
      %ul.list
        %li.user
          = current_user.name
        %li.edit
          =link_to new_group_path , class: "pencil-btn" do
            %i.fa.fa-pencil-square-o
          =link_to edit_user_path(current_user) , class: "cog-btn" do
            %i.fa.fa-cog
    .groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .contents__left__group-name
              %input{name:"id",class:"gid",type: "hidden", value: group.id} 
              = group.name
              .contents__left__group-name__message
                = group.show_last_message
  .contents__main
    .contents__main__group
      .contents__main__group__group-name
        = @group.name
      .contents__main__group__member
        - @group.users.each do |user|
          = user.name
      .contents__main__group__edit
        = link_to edit_group_path(@group), class: "edit-btn" do
          .edit
          Edit 
    .contents__main__mid
      = render @messages
    .contents__main__form 
      .form
        = form_for [@group, @message],html: {class: 'form'} do |f|
          = f.text_field :content,  class: 'form__message', :size=>"110", placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'